[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-userforeignkey = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.8"
