{% extends '_base.html' %}
{% block content %}

<div class="container mt-4">   
  <h4>Assignments</h4>
<div class="col-md-10">
    <table class="table table-striped mt-5">
      <thead>
        <tr class="text-justify">
           <th scope="col">No</th> 
           <th scope="col">Title</th>
           <th scope="col">Course</th>
           <th scope="col">Date</th>
           <th scope="col">Deadline</th> 

        </tr>
      </thead>
      <tbody>
      {% for assignments in ass_is %}
        <tr>
         <th scope="row">{{ assignments.id }}</th> 
          <td>{{ assignments.title }}</td>
          <td>{{ assignments.course }}</td> 
          <td>{{ assignments.created_date }}</td>
          <td>{{ assignments.deadline }}</td> 
          
          {% if assignments.is_past_due %}
          <td>
            <a href="#" class="btn btn-secondary disabled custom-text">Overdue</a>
          </td>
          
          {% elif user.is_authenticated %}
           <td>
            <a href="{% url 'assignment-detail' assignments.id %}" class="btn btn-success mr-2">View</a>
            <a href="{% url 'submit-assignment' assignments.id %} " class="btn btn-form-custom">Submit</a>
           </td>
         
          {% else %}
          <td>
             <button onclick="myFunction()"  class="btn btn-success mr-2">View</button>
             <button  onclick="myFunction2()" class="btn btn-form-custom">Submit</button>
         </td> 
         
         {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
</div> 

<script >function myFunction(){alert('Login to view');}</script>
<script >function myFunction2(){alert('Login to submit');}</script>

{% endblock  %}
    

