{% extends '_base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <form  method="POST"  enctype="multipart/form-data">
        <div class="card-profile bg-light p-3 rounded">
           <div class=" row p-3 ">

                <div class="col-3 d-flex justify-content-center" >
                   <img class="rounded-circle " src="{{ user.profile.image.url }}"  style="height: 150px; width:145px;" >
               </div>

               <div class="" >
                   <h2>{{user.username}}</h2>
                   {% csrf_token %}
                   {{ update_user_form.as_p }}
                   {{ update_profile_form.as_p }}
                       
                  <button class="btn-success" type="SUBMIT" name="submit" >Update Photo</button>
                  <h6 class='mt-4'><a href="{% url 'password_change' %}" class="text-muted">Change your Password</a></h6>
               </div>
               
            </div>
        </div>  
   </form>
</div>

{% endblock %}